.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#titulo {
    width: 75%;
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-right: 25%;
    margin-bottom: 10%;

    white-space: nowrap;
}

#textMotivation {
    font-size: 16px;
}

#description-project-title {
    color: rgb(255, 255, 255);
    font-size: 22px;
    width: 50%;
}

#img-glob {
    position: absolute;
    top: 14%;
    left: 54.5%;
}

.secondary-div {
    display: flex;
    width: 75vw;
    height: 98vh;
}

.link-login-create {
    display: flex;
    gap: 10%;
    margin-right: 50%;

    width: 14%;
    padding: 3%;
    white-space: nowrap;
}

.link-login-create a {
    color: rgb(115, 111, 117);
}

#right_title {
    font-size: 22px;
    white-space: nowrap;
}

.left-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    box-sizing: border-box;

    background-color: rgb(32, 32, 36);
}

.left-div input {

    width: 75%;
    height: 8%;
    border: none;
    border-radius: 5px;
    background-color: rgb(18, 18, 20);
    color: white;
    text-align: left;
    font-size: 17px;

    margin-bottom: 2vh;
}

.left-div button {
    width: 76%;
    height: 8%;

    margin-top: 15vh;
    border: none;
    border-radius: 5px;

    background-color: rgb(130, 87, 229);
    color: white;
    font-size: 18px;

    cursor: pointer;
}

.left-div select {
    width: 75.6%;
    height: 8%;
    border: none;
    border-radius: 5px;

    background-color: rgb(18, 18, 20);
    color: rgb(117, 117, 117);
    font-size: 17px;
}

.right-div {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 12%;
    width: 50%;
    height: 100%;
    gap: 6vh;

}

@media (max-width: 768px) {
    .secondary-div {
        width: 75vw;
        height: 98vh;
    }

    .left-div button {
        width: 50%;
        height: 7%;

        margin-top: 15vh;

        background-color: rgb(130, 87, 229);
        color: white;
        font-size: 13px;
    }

    .left-div select {
        width: 77.6%;
        height: 8%;

        font-size: 13px;

    }

    .left-div input {

        width: 75%;
        height: 8%;

        font-size: 13px;

}

.link-login-create {
    width: 14%;

    padding: 3%;
    gap: 10%;
    margin-right: 50%;
    font-size: 14px;
}

#titulo {
    width: 75%;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-right: 25%;
    margin-bottom: 10%;

    white-space: nowrap;
}

.right-div {
    
    margin-left: 12%;
    width: 50%;
    height: 100%;
    gap: 6vh;

}

#right_title {
    font-size: 18px;
}

#textMotivation {
    font-size: 13px;
}

#description-project-title {
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: left;
}
}

@media (max-width: 425px) {
    
    .left-div {
        padding: 5%; 
        width: 60vw;
        height: 100%;
        border-radius: 5px;
    }

    .left-div input {
        width: 75%;
        height: 6%;

        font-size: 10px;
    
        margin-bottom: 2vh;
    }

    .left-div button {
        width: 75%;
        height: 8%;
       
        border-radius: 5px;
    
        font-size: 10px; 
    }

    .left-div select {
        width: 78.5%;
        height: 6.4%;
    
        font-size: 10.3px;
    }


}